[submodule "neuromapp/h5benchmark/HighFive"]
	path = neuromapp/h5benchmark/HighFive
	url = git@github.com:BlueBrain/HighFive.git
[submodule "neuromapp/h5benchmark/MorphIO"]
	path = neuromapp/h5benchmark/MorphIO
	url = git@github.com:BlueBrain/MorphIO.git
